[project]
	description = Setup of Sample Project for DevOps
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/abbhamid
[access "refs/for/refs/*"]
	read = group user/abbhamid
	push = group user/abbhamid
	label-Code-Review = -2..+2 group user/abbhamid
	label-Verified = -1..+1 group user/abbhamid
	rebase = group user/abbhamid
	removeReviewer = group user/abbhamid
	submit = group user/abbhamid
[access "refs/heads/*"]
	read = group user/abbhamid
	create = group user/abbhamid
	push = +force group user/abbhamid
	pushMerge = group user/abbhamid
[access "refs/tags/*"]
	push = +force group user/abbhamid
	pushTag = group user/abbhamid
	pushSignedTag = group user/abbhamid
